<p>supplier works!</p>
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin">Admin</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/barang">Barang</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="/supplier">Supplier</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/transaksi">Transaksi</a>
    </li>
  </ul>

  <table class="table table-bordered">
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Phone</th>
      <th width="220px">Action</th>
    </tr>
    <tr *ngFor="let suppl of suppliers">
      <td>{{ suppl.id }}</td>
      <td>{{ suppl.username }}</td>
      <td>{{ suppl.phone }}</td>
      <td>
        <a href="#" [routerLink]="['/supplier/', suppl.id, 'view']" class="btn btn-info">View</a>
        <a href="#" [routerLink]="['/supplier/', suppl.id, 'edit']" class="btn btn-primary">Edit</a>
        <button type="button" (click)="deletePost(suppl.id)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </table>